.add-edit{
    padding: 15px;
    min-width: 350px;
    max-width: 400px;
}

.sl{
    width: 25%;
}

.subject{
    margin-left: 1%;
    width: 74%;
}

.grade{
    max-width: 49%;
    margin-top: 15px;
}

.g-o{
    display: flex;
}

.optional{
    margin-top: 15px;
    margin-left: 2%;
    width: 49%;
}

.table{
    width: 100%;
    min-width: 400px;
}

.select{
   min-width: 145px;
   max-width: 250px;
   max-height: 55px;
}

.add-btn{
    margin-left: 5px;
    height: 55px;
}

.test{
    display: flex;
    max-height: 55px;
}

.del-cont{
    max-width: 400px;
    padding: 15px;
}