.filter{
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    width: 80%;
}

.category-filter{
    width: 100%;
    margin-bottom: 15px;
}

.date{
    margin-left: 1%;
    width: 24%;
}

.sort{
    width: 24%;
}

.add-btn{
    margin-left: 1%;
    width: 25%;
}

.table-expense{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-width: 400px;
    width: 80%;
}

.add-exp-form{
    min-width: 400px;
    max-width: 450px;
    padding: 15px;
}

.cat-select{
    width: 100%;
    margin-bottom: 15px;
}

.exp-date{
    width: 49%;
    margin-bottom: 15px;
}

.amount{
    width: 49%;
    margin-bottom: 15px;
}

.desc{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.del-exp{
    padding: 15px;
}

p{
    text-align: center;
}

.demo-cont{
    background-color: aqua;
}

.chart{
    min-width: 400px;
    width: 45%;
}

.pi-chart{
    min-width: 400px;
    width: 45%;
}

.categ{
    display: flex;
}