.table{
    width: 50%;
    border: 1px;
    border-style: solid;
    justify-content: center;
}

.thead{
    color: white;
    background-color: cornflowerblue;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.tbody{
    border: 1px;
    border-style: solid;
}

.cont{
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-left: 20%;
}

.options{
    margin: 10px;
}

.delete{
    color: brown;
}

.delete-table{
    margin: 20px;
    padding: 50px;
    width:  50%;
    justify-content: center;
}

.delete-col{
    flex-direction: row;
    margin: 2%;
    width: 46%;
}

.select{
    width: 200px;
}