
.field{
    margin-top: 10px;
    width: 100%;
}

.double {
    width: 49%;
}

.gap{
    width: 2%;
}
.triple{
    width: 32%;
}

h1{
    margin: 10px;
}

div{
    width: 100%;
}

form{
    justify-content: center;
    padding: 10px;
    width: 100%;
}