.semseter-table{
    width: 100%;
}

.container{
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.add-btn{
    margin-left: 0px;
    margin-bottom: 15px;
}

.delete-container{
    padding: 15px;
}

p{
    text-align: center;
}