.add-edit-res{
    max-width: 450px;
    min-width: 400px;
    padding: 15px;
}

.course{
    width: 100%;
    margin-bottom: 15px;
}

.semester{
    width: 100%;
    margin-bottom: 15px;
}

.grade-add-edit{
    width: 100%;
    margin-bottom: 15px;
}

.sem-filter{
    min-width: 200px;
}

.add-btn-res{
    margin-left: 15px;
    height: 55px;
}

.container-res{
    width: 100%;   
}

.delete-res{
    padding: 15px;
    min-width: 400px;
    max-width: 450px;
}