.add-edit-res{
    max-width: 450px;
    min-width: 400px;
    padding: 15px;
}

.course{
    width: 100%;
    margin-bottom: 15px;
}

.semester{
    width: 100%;
    margin-bottom: 15px;
}

.grade-add-edit{
    width: 100%;
    margin-bottom: 15px;
}