.main {
  margin-top: 62px;
}

.thead{
  color: white;
  background-color: rgb(93, 128, 192);
  border: 1px;
  border-style: solid;
  border-color: black;
}

.tbody{
  border: 1px;
  border-style: solid;
}

form{
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.nav-item {
  text-decoration: none;
  color: azure;
  padding: 10px;
}


span{
  font-size: large;
  font-weight: bolder;
}

.field{
  margin-left: 15px;
 margin-top: 15px;
 margin-bottom: 15px;
 margin-right: 15px;
}

.delete-button{
  width: 49%;
  margin-left: 2%;
  color: white;
  background-color: brown;
}

.save-button{
  margin-left: 2%;
  width: 49%;
}

.cancel-button{
  width: 49%;
}

.delete-icon-button{
  color: brown;
}

.delete-button:hover{
  background-color: crimson;
}

.divider{
  flex: 1 1 auto;
}

.options{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.card{
  height: 100px;
  width: 250px;
  margin: 20px;
}

a{
  text-decoration: none;
}

a:hover{
  cursor:pointer;
}

